.landing {
  @include grid-container;
  @include background-cover('img/background-trip.jpg', $color-brown-dark);

  &-form {
    @include vertical-centered;
    @include grid-column(6);
    @include grid-push(3);

    &-el {
      width: 100%;
    }
  }

  &-links {
    text-align: center;
    color: $color-white;
    font-family: 'Lane Arrow';
  }

}
