@mixin component-base {
  @include appearance(none);

  height: 40px;
  margin: 5px 0;
  font-size: 1rem;
}

// Buttons

.btn {
  @include component-base;

  background: $color-blue;
  border: none;
  color: $color-white;
  font-family: 'Roboto Black';
  text-transform: uppercase;

  &--add {
    $size: 40px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - #{$size / 2});
    width: $size;
    height: $size;
    border-radius: $size;
    text-align: center;
    font-size: 1.8rem;
    line-height: $size;
    cursor: pointer;

    &::after {
      content: '\FF0B';
    }
  }
}

// Input text

.input {
  @include component-base;
  @include box-sizing(border-box);

  background: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 0 15px;
  font-family: 'Lane Arrow';
}

// Links

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @mixin link-color($color) {
    color: $color;
    &:active {
      color: $color;
    }
  }

  &--white {
    @include link-color($color-white);
  }
}

// Tooltips

.tooltip {
  @include border-radius(5px);

  position: relative;
  display: inline-block;
  background: $color-beige-dark;
  color: $color-brown;
  padding: 10px 20px;

  $arrow-size: 10px;

  &--top:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $color-beige-dark;
    border-width: $arrow-size;
    margin-left: -$arrow-size;
  }
}

// Badges

.badge {
  $size: 90px;
  $size-icon: 30px;
  $margin-icon: 5px;
  position: absolute;
  width: $size;
  height: $size;
  padding-top: $size-icon + $margin-icon * 2;
  box-sizing: border-box;
  background: $color-brown;
  border-radius: $size;
  background-size: $size-icon;
  background-repeat: no-repeat;
  background-position: ($size - $size-icon)/2 $margin-icon;
  font-family: 'Roboto Black';
  text-align: center;
  color: white;

  &::before,
  &::after {
    display: block;
    font-family: 'Lane Arrow';
    font-size: 0.8rem;
  }

  &--capital {
    background-image: url('img/capital.svg');
    top: calc(50% - #{$size / 2});
    left: calc(50% - #{$size / 2});

    &::before {
      content: 'Capital:';
    }
  }

  &--area {
    background-image: url('img/area.svg');
    top: 40px;
    right: 40px;

    &::after {
      content: 'km²';
    }
  }

  &--population {
    background-image: url('img/population.svg');
    bottom: 40px;
    right: 40px;

    &::after {
      content: 'people';
    }
  }
}
