$header-height: 120px;

.header {
  @include vertical-centered-container;
  @include background-cover('img/background-header.jpg', $color-brown-dark);

  height: $header-height;
  text-align: center;
  font-family: 'Lane Arrow';

  &-title {
    @include vertical-centered;
    @include grid-column(12);

    display: block;
    margin: 0;
    color: $color-white;
    font-size: 2.5rem;

    &--small {
      display: block;
      color: $color-brown;
      font-size: 1rem;
      line-height: 1rem;
    }
  }

  &-back {
    $size: 40px;
    position: absolute;
    top: ($header-height - $size) / 2;
    left: 10px;
    color: white;
    font-size: $size;
    text-decoration: none;

    &::before {
      content: '\2190';
    }
  }
}
