@mixin vertical-centered {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin vertical-centered-container {
  position: relative;
}

@mixin background-cover($img, $color: transparent, $attachment: initial) {
  @if $attachment == initial {
    background: $color url($img) no-repeat center center;
  } @else {
    background: $color url($img) no-repeat center center $attachment;
  }
  @include background-size(cover);
  min-height: 100%;
}
